name: Generate Dino Animation

on:
  schedule:
    - cron: "0 */24 * * *" 
  workflow_dispatch: 

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-snake.svg?color_snake=#7bed9f&color_dots=#bfbdbe,#7bed9f,#2ed573,#1e90ff,#3742fa
            dist/dino.svg?palette=github-dark&color_snake=#555555&snake_type=dino
            
      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
