name: Generate Dino Animation

on:
  schedule:
    - cron: "0 */24 * * *" # Se ejecuta cada 24 horas
  workflow_dispatch: # Permite que tú lo actives a mano

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-snake.svg
            # Cambia la línea 17 por esta (puedes jugar con los colores):
            dist/github-snake-dark.svg?palette=github-dark&color_snake=#8ec70a&color_dots=#bfbdbe,#fbba72,#fead5a,#ff9d42,#ff8205
# Este paso es el que falta para que la imagen se vea de verdad
      - name: Push github-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
